<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    <title th:text="#{app.title}">Magneto</title>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:text="#{app.title}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/user/info">User</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="app" class="container">
    <span th:text="#{app.title}"></span>
    {{message}}
    
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>User List</h2>
        </div>
        
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Handle</th>
                </tr>
                </thead>
                <tbody>
                <!-- 
                    <tr th:each="order,index:${orders}">
                        <td th:text="${index.count}"></td>
                        <td th:text="${order.produceName}"></td>
                        <td th:text="${order.stockAmount}"></td>
                    </tr>
                 -->
                
                    <tr v-for="user in users">
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td><a  href="#" v-on:click="clickResponse(user)" >详情</a></td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">  
	var userList = /*[[${session.users}]]*/  
    new Vue({
        el: '#app',
        data: {
            message: 'Test Vue.js!',
            users: userList
        },
        methods : {
        	clickResponse(o){
        		console.dir(o);
        		var info = "$id :"+ o.id;
        		info+="  $username:"+o.username;
        		info+="  $password:"+o.password;
        		alert(info);
        		
        		//发送Ajax到后台，成功！
        		$.ajax({
        			type:"GET",
                    url:"jsonData",
                    dataType:"json",
                    success: function(data) {
        				console.dir(data);
        				alert('fine')
                    }
        		});
        		
        	}
        	
        }
    })
</script>
</body>
</html>